*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(80, 2, 32);
    color: bisque;
    height: 60px;
    font-size: 28px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul{
    list-style-type: none;
}

.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.box{
    border:2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(212, 174, 192);
    
}

.info{
    font-size: 25px;
}

.gameInfo{
    padding: 0 34px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.gameInfo h1{
    font-size: 2.5rem;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset{
    margin: 0 24px;
    padding: 6px 14px;
    background-color: #e9d2e9;
    border-radius: 10px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.line{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    background-color: rgb(97, 29, 29);
    transition: width 1s ease-in-out;
}

.gameContainer{
    flex-wrap: wrap;
}

.gameInfo{
    margin-top: 34px;
}

.gameInfo h1{
    font-size: 2rem;
}